<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>265</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>264</string>
					<key>Timestamp</key>
					<string>722207412.394635</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Tour Manager/Tour Manager/Modules/Profile/Profile Page/ProfileNewViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        // TODO сделать алерт в котроллере логина
</string>
				<key>leading</key>
				<string>    func logoutSuccess() {
        
</string>
				<key>trailing</key>
				<string>        AlertKitAPI.present(
            title: "Вы вышли из системы",
            icon: .done,
</string>
			</dict>
			<key>title</key>
			<string>TODO</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>10</string>
					<key>StartingColumnNumber</key>
					<string>56</string>
					<key>StartingLineNumber</key>
					<string>9</string>
					<key>Timestamp</key>
					<string>722180804.238904</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Tour Manager/Tour Manager/Modules/MainTabBar/MainTabBarPresenter.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>оторая отвечает за refreshError
</string>
				<key>leading</key>
				<string>import Foundation

// Cделать главный view controller где сделать фукнцию к</string>
				<key>trailing</key>
				<string>
protocol MainTabBarViewProtocol:AnyObject{
    func unknownError()
</string>
			</dict>
			<key>title</key>
			<string>TODO</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>106</string>
					<key>StartingColumnNumber</key>
					<string>39</string>
					<key>StartingLineNumber</key>
					<string>105</string>
					<key>Timestamp</key>
					<string>722212808.287966</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Tour Manager/Tour Manager/Modules/Profile/Presenter/EmployeesListPresenter.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>к в petConnect
</string>
				<key>leading</key>
				<string>                    
                    
                    // добавить фото ка</string>
				<key>trailing</key>
				<string>                    do{
                        let imageData = try await self.usersNetworkService.downloadProfilePhoto(localId: jsonUser.uid)
                        
</string>
			</dict>
			<key>title</key>
			<string>TODO</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
