<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2023-05-28T11:39:45Z</date>
	<key>WorkspacePath</key>
	<string>/Users/shredding/ALL MY/Programming/Swift/Tour Manager/Tour Manager.xcworkspace</string>
</dict>
</plist>
